body{
  background-color: white;
  color: black;
}
#header {
  background-image: url('https://wallpapercave.com/wp/wp5905720.jpg');
  background-size: cover;
  text-align: center;
  height: 500px;
  
}
#navbar{
display: flex;
list-style: none;
padding: 8px;


}
#navbar li{
  padding-right: 80px;
}

#navbar a{
text-decoration: none;
}

#navbar a:hover {
  background-color: greenyellow;
 
}

