body{
  background-color: white;
  color: black;
}
#header {
  background-image: url('/images/J_Cole.jpeg');
  img {
      filter: brightness(100%);
    }
  background-size: cover;
  text-align: center;
  height: 500px;
  
}
#navbar{
display: flex;
list-style: none;
margin: 0;
padding: 0;
justify-content: space-between;
position: sticky;



}
#navbar li{
  padding-right: 80px;
}

#navbar a{
text-decoration: none;
}

#navbar a:hover {
  color: greenyellow;
 
}
li {
  list-style: none;
}
 a {
  text-decoration: none;
}
.footer{
  text-align: center;
}